<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">My Journey</h2>
                    <h3 class="section-subheading text-muted">My road to Software Engineering!</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="{{site.baseurl}}/img/about/nc-state.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Jan 2021 - Jun 2021</h4>
                                    <h4 class="subheading">Graduate Research Assistant</h4>
                                    <h6><strong>NC State Univeristy</strong></h6>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                        Working on building a progressive web app for Institute for Transportation Research and Education (ITRE)
                                        at NC State Univeristy. </br>
                                        This Android App and the website will be used by drivers to keep track of their assigned trips 
                                        as well as to keep in touch with office. </br>
                                        The technology stack includes Ionic, React, Node, Express and AWS.
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="{{site.baseurl}}/img/about/murano.jpeg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>May 2019 - Aug 2019</h4>
                                    <h4 class="subheading">Software Engineering Intern</h4>
                                    <h6><strong>Murano Corporation</strong></h6>

                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                        Upgraded search feature in Enterprise software using Elastic and Logstash. </br>
                                        Worked with Java, JavaScript and MySQL to add new features as well as fixed existing issues.</br>
                                        Wrote PHP script on local server to perform error handling, push notifications and taking regular backups.
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="{{site.baseurl}}/img/about/nc-state.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Aug 2019 - May 2021</h4>
                                    <h4 class="subheading">Master's in Computer Science</h4>
                                    <h6><strong>NC State Univeristy</strong></h6>

                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                        Took courses to understand Software Engineering, Cloud Computing better. </br>
                                        Completed a specialization in Data Science as well as got hands on experience in building
                                        production level models, classifiers, predictions using Machine Learning and Neural Networks.
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="{{site.baseurl}}/img/about/mumbai.jpeg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Aug 2019 - May 2019</h4>
                                    <h4 class="subheading">Bachelor's of Engineering</h4>
                                    <h6><strong>University of Mumbai</strong></h6>

                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                        Tooks courses in Data Strutures, Operating Systems, Computer Networks and Artificial Intelligence.
                                    </p>
                                </div>
                            </div>
                        </li>
                        <!-- <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Be Part
                                    <br>Of Our
                                    <br>Story!</h4>
                            </div>
                        </li> -->
                    </ul>
                </div>
            </div>
        </div>
    </section>