<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About me</h2>
                    <h3 class="section-subheading text-muted">
                        I am a graduate student pursuing a Master's in Computer Science 
                        from NC State Univeristy, USA. </br> 
                        Currently, I am working on a building progressive web app using React, Node, and AWS.  </br>
                        My main area of interests are mentioned below. 
                    </h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-6">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Software Engineering</h4>
                    <p class="text-muted">
                        I have worked extensively on building a production ready and scalable progressive web apps 
                        using latest techonologies including TypeScript, React, AWS, GraphQL, REST-APIS, Relational databases. </br>
                        Currently, I am learning DevOps tools to build CI/CD pipeling and test framworks using Pytest.
                    </p>
                </div>
                <div class="col-md-6">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-area-chart fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Data Science</h4>
                    <p class="text-muted">
                        At NC State, I have successfully finished a specialization in Data Science. </br>
                        As of now, I have hands on experience on building models using Machine Learning as well as Deep Learning techniques. </br>
                    </p>
                </div>
                <!-- <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading"></h4>
                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
                </div>
            </div> -->
        </div>
    </section>